# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Secrets and Config
.env
.local

# Project specific data
data/reports/*.txt

# PyCharm / IDE specific
.idea/
.vscode/

# Operating System files
Thumbs.db
desktop.ini
.DS_Store